<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="cn.magicdu.bookmark.mapper.BookmarksMapper">
	<resultMap id="BaseResultMap" type="cn.magicdu.bookmark.pojo.Bookmarks">
		<id column="id" property="id" jdbcType="VARCHAR" />
		<result column="user_id" property="user_id" jdbcType="VARCHAR" />
		<result column="name" property="name" jdbcType="VARCHAR" />
		<result column="url" property="url" jdbcType="VARCHAR" />
		<result column="category_id" property="category_id" jdbcType="VARCHAR" />
		<result column="description" property="description" jdbcType="VARCHAR" />
		<result column="state" property="state" jdbcType="INTEGER" />
	</resultMap>
	<resultMap id="DetailBaseResultMap" type="cn.magicdu.bookmark.pojo.BookmarksVo">
		<id column="id" property="id" jdbcType="VARCHAR" />
		<result column="user_id" property="user_id" jdbcType="VARCHAR" />
		<result column="name" property="name" jdbcType="VARCHAR" />
		<result column="url" property="url" jdbcType="VARCHAR" />
		<result column="category_id" property="category_id" jdbcType="VARCHAR" />
		<result column="description" property="description" jdbcType="VARCHAR" />
		<result column="state" property="state" jdbcType="INTEGER" />
		<association property="category" javaType="cn.magicdu.bookmark.pojo.Category">
			<id column="id" property="id" jdbcType="VARCHAR" />
			<result column="user_id" property="user_id" jdbcType="VARCHAR" />
			<result column="c_name" property="name" jdbcType="VARCHAR" />
		</association>
	</resultMap>
	<sql id="Base_Column_List">
		id, user_id, name, url, category_id, description, state
	</sql>
	<sql id="Base_Column_List_Vo">
		id, user_id, name, url, category, description, state
	</sql>
	<insert id="addBookmark" parameterType="cn.magicdu.bookmark.pojo.Bookmarks">
		insert into bookmarks
		(id,
		user_id,name,
		url,category_id, description,
		state)
		values
		(#{id,jdbcType=VARCHAR}, #{user_id,jdbcType=VARCHAR},
		#{name,jdbcType=VARCHAR}, #{url,jdbcType=VARCHAR},
		#{category_id,jdbcType=VARCHAR},
		#{description,jdbcType=VARCHAR},
		#{state,jdbcType=INTEGER})
	</insert>
	<select id="selectBookmarks" resultMap="BaseResultMap"
		parameterType="java.lang.String">
		select
		<include refid="Base_Column_List" />
		from bookmarks where user_id=#{user_id,jdbcType=VARCHAR}
	</select>
	<select id="selectBookmarksVo" parameterType="java.lang.String"
		resultMap="DetailBaseResultMap">
		select bookmarks.*,category.name c_name
		from
		bookmarks,category
		where bookmarks.category_id=category.id
	</select>
	<select id="selectBookmarksById" resultMap="BaseResultMap"
		parameterType="java.lang.String">
		select
		<include refid="Base_Column_List" />
		from bookmarks
		where id = #{id,jdbcType=VARCHAR}
	</select>
	<update id="updateBookmarksById" parameterType="cn.magicdu.bookmark.pojo.Bookmarks">
		update bookmarks
		<set>
			<if test="user_id!= null">
				user_id = #{user_id,jdbcType=VARCHAR},
			</if>
			<if test="name != null">
				name = #{name,jdbcType=VARCHAR},
			</if>
			<if test="category_id != null">
				category_id = #{category_id,jdbcType=VARCHAR},
			</if>
			<if test="url != null">
				url = #{url,jdbcType=VARCHAR},
			</if>
			<if test="state != null">
				state = #{state,jdbcType=INTEGER},
			</if>
			<if test="description != null">
				description = #{description,jdbcType=VARCHAR},
			</if>
		</set>
		where id = #{id,jdbcType=VARCHAR}
	</update>

	<!-- select u.id,u.username,bm.id,bm.name,bm.url,bm.description,bm.state,ce.id,ce.name 
		from bookmarks bm,category ce,users u where u.id=bm.user_id and bm.category_id=ce.id 
		and u.id='test' -->
</mapper>
